@import '../../../styles/spacing.css';
@import '../../../styles/colors.css';

.PotOverviewContainer {
    max-width: 544px;
    width:100%;
    background: var(--white);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.Title {
    color: var(--grey-900, #201F24);
    font-family: "Text Preset 2";
    font-size: 20px;
}

.PotOverviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.SeeDetails {
    color: var(--grey-500, #696868);
    font-family: "Text Preset 4";
    font-size: 14px;
}

.PotOverviewContent {
    display: flex;
    align-items: center;
}

.PotOverviewTotal {
    display: flex;
    align-items: center;
    width: 215px;
    height: 78px;
    background: var(--beige-100);
    padding: 16px;
    border-radius: 12px;
    margin-right: 20px;
}

.PotIcon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.TotalInfo {
    display: flex;
    flex-direction: column;
}

.TotalLabel {
    color: var(--grey-500, #696868);
    font-family: "Text Preset 4";
    font-size: 14px;
    margin-bottom: 11px;
}

.TotalAmount {
    color: var(--grey-900, #201F24);
    font-family: "Text Preset 1";
    font-size: 32px;
}

/* 가로 스크롤이 가능한 Pot 리스트 */
.PotOverviewList {
    width: 100%;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap;
}

/* PotItem을 2행 1열로 배치 */
.PotOverviewScroll {
    display: grid;
    grid-template-rows: repeat(2, auto); /* 2행 */
    grid-auto-flow: column; /* 가로로 스크롤 */
    gap: 16px;
}

/* PotItem 스타일 */
.PotItem {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Pot 색상 바 */
.PotColor {
    width: 4px;
    height: 43px;
    border-radius: 8px;
}

.PotName {
    color: var(--grey-500, #696868);
    font-family: "Text Preset 5";
    font-size: 12px;
    margin-bottom: 10px;
}

.PotInfo {
    display: flex;
    flex-direction: column;
}

.PotAmount {
    color: var(--grey-900, #201F24);
    font-family: "Text preset 4 Bold";
    font-size: 14px;
}

/* 스크롤바 숨김 처리 */
.PotOverviewList::-webkit-scrollbar {
    display: none;
}
.PotOverviewList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .PotOverviewContainer {
        max-width: 628px;
        background: var(--white);
        border-radius: 12px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    }
    
  }

  @media (max-width: 375px) {
    .PotOverviewContainer {
        max-width: 303px;
        background: var(--white);
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    }

    .PotOverviewContent{
        flex-direction: column;
    }

    .PotOverviewScroll{
        margin-top : 20px;
    }
  }