@import '../../styles/colors.css';
@import '../../styles/spacing.css';

.Transactions {
  margin: var(--spacing-400) var(--spacing-500);
}

#TransactionTitle {
  margin: var(--spacing-100) 0 var(--spacing-500);
  font-size: 32px;
}

.mainBox {
  padding: var(--spacing-400);
  background-color: var(--white);
  border-radius: var(--spacing-100);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.errorMessage {
  color: var(--red);
  text-align: center;
  margin-bottom: var(--spacing-250);
}

.loading {
  text-align: center;
  margin-top: var(--spacing-400);
}

.filters {
  display: flex;
  justify-content: end;
  margin-bottom: var(--spacing-400);
  gap: var(--spacing-300);
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdownLabel {
  font-size: 14px;
  margin-bottom: var(--spacing-100);
}

.dropdownSelect {
  padding: var(--spacing-150);
  border-radius: var(--spacing-100);
  border: 1px solid var(--grey-300);
  font-size: 14px;
}

/* 헤더 스타일 */
.transactionHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr; /* 열 비율 */
  gap: var(--spacing-100);
  padding: var(--spacing-200);
  font-weight: bold;
  color: var(--grey-900);
}

#CategoryTitle {
  padding-left: var(--spacing-400);
}

#DateTitle {
  padding-left: var(--spacing-250);
}

#AmountTitle {
  text-align: right;
}

/* 데이터 리스트 스타일 */
.transactionContainer {
  display: flex; /* personImg와 transactionRow를 가로로 배치 */
  align-items: center;
  gap: var(--spacing-200); /* personImg와 transactionRow 간격 */
  padding: var(--spacing-150) 0;
  border-top: 1px solid var(--grey-100);
}

.transactionList {
  display: flex;
  flex-direction: column;
}

.transactionRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr; /* 열 비율 */
  gap: var(--spacing-100);
  align-items: center;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-200) 0;
  flex: 1; /* transactionRow가 나머지 공간 차지 */
}

.rowItem {
  display: flex;
  align-items: center;
}

.personInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.personImg {
  width: var(--spacing-500);
  height: var(--spacing-500);
  border-radius: 50%;
  margin-left: var(--spacing-150);
}

.personName {
  font-size: 14px;
  font-weight: bold;
  color: var(--grey-900);
}

.CategoryDateInfo {
  font-size: 12px;
  color: var(--grey-500);
}

.amountInfo {
  justify-content: flex-end;
  font-weight: bold;
  color: var(--grey-900);
}

.noTransactions {
  text-align: center;
  padding: var(--spacing-400);
  color: var(--grey-500);
}

/* 미디어 쿼리 */
@media (max-width: 675px) {
  .Transactions {
    margin: var(--spacing-300) var(--spacing-200);
  }

  .mainBox {
    padding: var(--spacing-300) var(--spacing-250);
  }

  .transactionHeader {
    display: none; /* 헤더 숨기기 */
  }

  .transactionContainer {
    display: flex; /* personImg와 transactionRow를 가로로 배치 */
    align-items: center;
    gap: var(--spacing-200); /* personImg와 transactionRow 간격 */
    padding: 0;
    border-top: none;
    border-bottom: 1px solid var(--grey-100);
  }

  .transactionRow {
    display: grid;
    grid-template-areas: 
      "name amount"
      "category date"; /* 반시계 방향으로 레이아웃 설정 */
    grid-template-columns: 1fr 1fr; /* 좌우 균등 분할 */
    gap: 4px;
    padding: var(--spacing-200) 0;
  }

  .personName {
    grid-area: name; /* 좌측 상단 */
    font-size: 14px;
    font-weight: bold;
    color: var(--grey-900);
  }

  .amountInfo {
    grid-area: amount; /* 우측 상단 */
    font-size: 14px;
    font-weight: bold;
    color: var(--grey-900);
    text-align: right; /* 텍스트 오른쪽 정렬 */
    justify-self: end; /* 그리드 아이템 정렬 */
  }

  .CategoryDateInfo.category {
    grid-area: category; /* 좌측 하단 */
    font-size: 12px;
    color: var(--grey-500);
  }

  #DateInfo {
    grid-area: date; /* 우측 하단 */
    font-size: 12px;
    color: var(--grey-500);
    text-align: right !important; /* 텍스트 우측 정렬 */
    justify-self: end; /* Grid 요소 자체를 우측으로 배치 */
  }
}
