@import '../../styles/spacing.css';

.OverviewPage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  align-items: start;
  justify-content: flex-start;
  margin: var(--spacing-400) var(--spacing-500);
}

.OverviewHeader {
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: var(--grey-900);
}

.OverviewTitle {
  margin: 0;
}

.SeeDetails {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--grey-500);
  padding: 0;
}

.SeeDetails:hover {
  text-decoration: underline;
}

.OverviewList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  flex-wrap: wrap;
  width: 100%;
  max-width: 1060px;
  max-height: 761px;
}
