/* Updated BudgetModal.css */
@import '/src/styles/colors.css';
@import '/src/styles/fonts.css';

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormGroup{
  margin-bottom : 20px;
}

.ModalContent {
  background: var(--white);
  border-radius: 10px;
  max-width: 560px; /* Desktop and Tablet */
  width: 100%;
  padding: var(--spacing-400, 32px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h2 {
  font-family: 'Text Preset 1';
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--grey-900);
  margin: 0;
}

.CloseButton {
  border: none;
  background: url("../../../assets/images/CloseButton.png") no-repeat center center;
  background-size: contain;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Dropdown styles */
select {
  display: flex;
  padding: var(--spacing-150, 12px) var(--spacing-250, 20px);
  align-self: stretch;
  font-family: 'Text Preset 4';
  border: 1px solid var(--grey-300);
  border-radius: 5px;
  color: var(--grey-900);
  background-color: var(--white);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow-y: visible;
}

/* Dropdown arrow customization */
select::after {
  content: '\25BE';
  position: absolute;
  right: 10px;
  pointer-events: none;
}

/* Responsive category box styles */
@media screen and (min-width: 769px) {
  select {
    max-width: 496px;
    height: 45px;
  }
}

@media screen and (max-width: 375px) {
  select {
    max-width: 295px; /* Mobile */
    height: 45px;
  }
}

/* Text styles */
p {
  font-family: 'Text Preset 3';
  font-size: 1rem;
  line-height: 150%;
  color: var(--grey-500);
}

/* Form input styles */
input {
  width: 92%;
  padding: var(--spacing-150, 12px) var(--spacing-250, 20px);
  font-family: 'Text Preset 4';
  font-size: 1rem;
  border: 1px solid var(--grey-300);
  border-radius: 5px;
  color: var(--grey-900);
}

/* Buttons */
.ModalSubmitButton {
  background: var(--grey-900);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Text Preset 4 Bold';
  font-size: 1rem;
}

.ModalDeleteButton {
  background: var(--red);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Text Preset 4 Bold';
  padding : 16px;
}

.ModalCancelButton {
  background: var(--grey-100);
  color: var(--grey-900);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Text Preset 4';
  padding : 16px;
}

@media screen and (max-width: 375px) {
  .ModalContent {
    max-width: 335px; /* Mobile size */
    padding: 24px;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
  input {
    width: 85%;
    padding: var(--spacing-150, 12px) var(--spacing-250, 20px);
    font-family: 'Text Preset 4';
    font-size: 1rem;
    border: 1px solid var(--grey-300);
    border-radius: 5px;
    color: var(--grey-900);
  }

}

.ColorDropdown {
  position: relative;
  width: 100%;
  max-width: 496px;
}

.DropdownHeader {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid var(--grey-300);
  border-radius: 5px;
  background: var(--white);
  cursor: pointer;
  color: var(--grey-900);
  position: relative;
}

.DropdownCloseIcon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.DropdownCloseIcon:hover {
  opacity: 1;
}


.DropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* 높이 유지 */
  background: var(--white);
  border: 1px solid var(--grey-300);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 스크롤 유지 */
  z-index: 10;

  /* 스크롤 바 숨기기 */
  scrollbar-width: none; /* Firefox */
}

.DropdownList::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.DropdownOption {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: var(--grey-900);
}

.DropdownOption:hover {
  background: var(--grey-100);
}

.DropdownOption.Disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ColorCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--grey-500);
}
