@import '../../../styles/spacing.css';
@import '../../../styles/colors.css';

.BalanceOverviewContainer {  
  display: flex;
  flex-direction: row;
  gap: var(--spacing-300);
  justify-content: space-between;
}

.BalanceOverview {
  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
  background-color: var(--white);
}