@import '../../../styles/colors.css';
@import '../../../styles/spacing.css';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-300);
}

.pageNumbers {
  display: flex;
  gap: var(--spacing-100);
}
  
  .paginationButton,
  .pageButton {
    width: var(--spacing-500);
    height: var(--spacing-500);
    border: 1px solid var(--grey-300);
    border-radius: var(--spacing-100);
    font-family: 'Text Preset 4', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: var(--white);
    color: var(--grey-900);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Prev, Next 버튼 스타일 */
  .prevButton,
  .nextButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 var(--spacing-200);
    gap: var(--spacing-100);
    height: var(--spacing-500);
    border: 1px solid var(--grey-300);
    border-radius: var(--spacing-100);
    font-family: 'Text Preset 4', sans-serif;
    font-size: 14px;
    background-color: var(--white);
    color: var(--grey-900);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  /* Hover 효과 */
  .prevButton:hover:not(.disabled),
  .nextButton:hover:not(.disabled),
  .pageButton:hover:not(.currentPage) {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 비활성화된 Prev, Next 버튼 스타일 */
  .prevButton.disabled,
  .nextButton.disabled {
    background-color: var(--grey-100);
    color: #aaa;
    cursor: default;
    border: 1px solid #ddd;
  }
  
  /* 현재 페이지 버튼 스타일 */
  .pageButton.currentPage {
    background-color: var(--grey-900);
    color: var(--white);
    font-weight: bold;
    cursor: default;
  }
  